

<p ng-if="!allContest">Bạn chưa có cuộc thi nào. Nhấn nút thêm để tạo mới.</p>

<table ng-if="allContest" class="highlight">
    <thead>
    <tr>
        <th>Tên cuộc thi</th>
        <th>Thông tin</th>
        <th>Thời gian bắt đầu</th>
        <th>Thời gian kết thúc</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
        <tr ng-repeat="c in allContest">
            <td>{{c.name}}</td>
            <td>{{c.introContest}}</td>
            <td>{{c.startTime | date : 'dd/MM/yyyy'}}</td>
            <td>{{c.endTime | date : 'dd/MM/yyyy'}}</td>
            <td>
                <a href=""><i class="material-icons">mode_edit</i></a>
                <a href=""><i class="material-icons">delete</i></a>
            </td>
        </tr>
    </tbody>
</table>


<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" ng-click="openCreateContestModal()">
    <button class="modal-trigger btn-floating btn-large red waves-effect waves-light red" data-target="modal1">
        <i class="large material-icons">add</i>
    </button>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Tạo mới cuộc thi</h4>
        <div class="row">
            <div class="input-field col s12">
                <input id="nameContest" type="text" ng-model="contest.name" required>
                <label for="nameContest">Tên cuộc thi</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <textarea id="introContest" class="materialize-textarea" ng-model="contest.introContest" required></textarea>
                <label for="introContest">Giới thiệu cuộc thi</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input type="text" input-date format="dd/mm/yyyy" id="startTime" class="datepicker" ng-model="contest.startTime">
                <label for="startTime">Thời gian bắt đầu</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input type="text" input-date format="dd/mm/yyyy" id="endTime" class="datepicker" ng-model="contest.endTime">
                <label for="endTime">Thời gian kết thúc</label>
            </div>
        </div>


    </div>
    <div class="modal-footer">

        <a ng-click="createContest()" class=" modal-action modal-close waves-effect waves-green btn-flat">Tạo mới</a>
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">Thôi</a>

    </div>
</div>