<ul class="right hide-on-med-and-down">
    <li class="" ui-sref-active="active"><a href="" ui-sref="manager-contest">Quản lý cuộc thi</a></li>
    <li class="" ui-sref-active="active"><a href="#">Quản lý đội chơi</a></li>
    <li class="" ui-sref-active="active"><a href="#">Quản lý loại câu hỏi</a></li>
    <li class="" ui-sref-active="active"><a href="#">Quản lý câu hỏi</a></li>
    <li class="" ui-sref-active="active"><a href="#">Quản lý thông báo</a></li>
    <li><a href="" ng-click="logout()"><i class="material-icons ">power_settings_new</i></a></li>

</ul>

<ul id="nav-mobile" class="side-nav active">

    <li class="" ui-sref-active="active"><a href="" ui-sref="manager-contest">Quản lý cuộc thi</a></li>
    <li class="" ui-sref-active="active"><a href="#">Quản lý đội chơi</a></li>
    <li class="" ui-sref-active="active"><a href="#">Quản lý loại câu hỏi</a></li>
    <li class="" ui-sref-active="active"><a href="#">Quản lý câu hỏi</a></li>
    <li class="" ui-sref-active="active"><a href="#">Quản lý thông báo</a></li>
    <li class=""><a ng-click="logout()">Đăng xuất</a></li>
</ul>

<a  href="" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>